button.button {
    display: inline-grid;
    background-color: #275950;
    border: 2px solid transparent;
    border-radius: 16px;
    color: #112026;
    font-size: 20pt;
    font-weight: bold;
    outline: none;
    padding: 0.5em 1em;
}

button.button:hover {
    background-color: #81ad74;
}

button.button:focus {
    background-color: #81ad74;
}

button.button-icon {
    width: 40pt;
    height: 40pt;
    padding: 0.5em;
    margin: 8pt;
    border-radius: 50%;
}
