button.btn {
    background-image: linear-gradient(to right, #134e5e 0%, #71b280 51%, #134e5e 100%);
    background-size: 200% auto;
    color: #bad9d3;
    font-size: 12pt;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 32px;
    margin: 12px;
    padding: 16px 48px;
    text-align: center;
    transition: 0.5s;
    outline: none;
    border: 0;
    border: 1pt solid transparent;
    cursor: pointer;
}

button.btn:hover {
    background-position: right center;
}

button.btn:focus {
    border-color: #71b280;
    background-position: right center;
}

button.btn-icon {
    padding: 16px;
}
