.search {
    display: flex;
    align-items: center;
}

.search-bar input {
    background-color: #141920;
    border: 2px solid transparent;
    border-radius: 48px;
    color: #bad9d3;
    font-size: 20pt;
    outline: none;
    padding: 16px 48px;
}

.search:hover input,
.search-bar input:hover {
    /* background-color: #1f353d; */
    border-color: #2a6e62; 
}

.search-bar input:focus {
    /* background-color: #271a24; */
    border-color: #bad9d3;
    box-shadow: 0 0 4px #bad9d399;    
}

.search-icon {
    color: #2b454e;
    padding: 0.5em;
    
}

.search:hover .search-icon {
    color: #2a6e62;
} 

.search:focus-within .search-icon {
    color: #bad9d3;
} 

