* {
    margin: 0;
    box-sizing: border-box;
}

/* color: #112026;
color: #275950;
color: #BAD9D3;
color: #81AD74;
color: #F2F2F2; */

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #112026;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #2a6e62;
    font-family: "Roboto Slab", serif;
}

button, input {
    height: 48pt;
} 

/* Color Theme Swatches in Hex */
.color-1 {
    color: #343240;
}
.color-2 {
    color: #5c5d73;
}
.color-3 {
    color: #8590a6;
}
.color-4 {
    color: #b4c4d9;
}
.color-5 {
    color: #f0f2f2;
}
